.contact-us {
  color: var(--dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 2rem;
}

.contact-us h2 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1.5rem;
}

.contact-us-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Set 2 columns */
  gap: 10px;
}

.contact-us .grid-item {
  font-size: 30px;
  border: 2px solid var(--dark);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--accent-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Make the last two items take full width */
.contact-us .grid-item:nth-child(7),
.contact-us .grid-item:nth-child(8) {
  grid-column: span 2; /* Make the last two items take full width */
}

.contact-us .grid-item>span {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
}

.contact-us .grid-item>span .sub-text {
  font-weight: 400;
}

.contact-us .grid-item p {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 928px) {
  .contact-us .grid-item {
    font-size: 25px;
  }

  .contact-us .grid-item span {
    font-size: 0.8rem;
  }

  .contact-us .grid-item p {
    font-size: 0.8rem;
  }
}

@media (max-width: 795px) {
  .contact-us-grid {
    width: 90vw;
  }
}

@media (max-width: 712px) {
  .contact-us-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .contact-us .grid-item {
    width: 100%;
  }

  /* Reset the spans for responsive view */
  .contact-us .grid-item:nth-child(7),
  .contact-us .grid-item:nth-child(8) {
    grid-column: unset;
  }
}
