/* General Wrapper for Forget Password Form */
.wrapper-forget-password {
  width: 430px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(236, 252, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* Form Group */
.wrapper-forget-password .input-box {
  margin-bottom: 15px;
}
.wrapper-forget-password h2 {
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.wrapper-forget-password p {
  text-align: center;
  font-family: var(--font-primary);
  color: var(--dark);
  margin-bottom: 2rem;
}

.wrapper-forget-password .sign-in-link{
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.wrapper-forget-password a {
  font-weight: 600;
  text-decoration: none;
  color: #00398a;
}

.wrapper-forget-password a:hover {
  color: #008cff;
}

/* Input Fields */
.wrapper-forget-password input[type="email"] {
  background-color: transparent;
  width: 100%;
  height: 50px;
  padding: 12px;
  border: 1.5px solid var(--dark);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 550;
  color: var(--dark);
}

.wrapper-forget-password input[type="email"]::placeholder {
  color: #00273ead;
}

/* Submit Button */
.wrapper-forget-password .submit-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(20, 84, 134);
  color: var(--light);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

.wrapper-forget-password .submit-button:hover {
  background-color: var(--secondary);
}

/* Media Queries */
@media (max-width: 480px) {
  .wrapper-forget-password {
    width: 95vw;
  }

  .wrapper-forget-password h2 {
    font-size: 20px;
  }

  .wrapper-forget-password p {
    font-size: 0.8rem;
  }

  .wrapper-forget-password input[type="email"] {
    height: 40px;
    font-size: 0.75rem;
  }

  .wrapper-forget-password .submit-button {
    padding: 12px;
    font-size: 0.8rem;
    margin-top: 16px;
  }
}
