@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes slideUp {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .product-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
  }
  
  .product-modal {
    position: relative;
    background: #fff;
    color: var(--dark);
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    max-width: 90vw;
    width: 675px;
    border-radius: 25px;
    transform: translateY(50%); 
    opacity: 0; 
    animation: slideUp 0.5s 0.3s forwards; 
  }
  

.product-modal .product-image-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 25px 0;
}

.product-modal .product-image {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

.product-modal .product-detail {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.product-modal .product-title {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 4px;
}

.available {
  font-family: var(--font-accent);
  font-size: 12px;
  color: #0c5800;
  font-weight: 700;
}

.product-modal .product-price {
  font-family: var(--font-accent);
  font-weight: bolder;
  font-size: 20px;
  color: #18495c;
}

.product-modal hr {
  height: 1.75px;
  color: #18495c;
  background-color: #18495c;
  border: none;
  border-radius: 25px;
  margin: 8px 0 2px 0;
}

.product-modal .product-unit-price {
  font-family: var(--font-accent);
  font-weight: bolder;
  font-size: 12px;
  color: #18495c;
}

.product-modal .product-quantity {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-modal .quantity {
  width: 70px;
  height: 25px;
  font-family: var(--font-accent);
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  border: 2px solid var(--accent);
  border-radius: 25px;
  -moz-appearance: textfield;
}

.product-modal .quantity::-webkit-outer-spin-button,
.product-modal .quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-modal .button {
  background-color: var(--accent);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s, border 0.2s;
}

.product-modal .add-to-cart {
  width: 100%;
  background-color: var(--accent);
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.product-modal .add-to-cart p {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 900;
}

.product-modal .close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 670px){

  .product-modal .product-image-container {
    margin: 0;
  }

  .product-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 80vw;
    width: 675px;
    border-radius: 25px;
  }

  .product-modal .product-image {
    margin-bottom: 20px;
  }

  .product-modal .product-detail {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 00px;
    gap: 20px;
  }
}

@media only screen and (max-width: 512px) {
  .product-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 90vw;
    width: 675px;
    border-radius: 25px;
  }

  .product-modal .product-detail {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 00px;
    gap: 20px;
  }

  .product-modal .product-title {
    font-family: var(--font-primary);
    font-size: 16px;
  }

  .available {
    font-family: var(--font-accent);
    font-size: 12px;
    color: #0c5800;
    font-weight: 700;
  }

  .product-modal .product-price {
    font-size: 18px;
  }
  
  .product-modal .product-unit-price {
    font-size: 12px;
  }

  .product-modal .button {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .product-modal .quantity {
    width: 70px;
    height: 25px;
    font-family: var(--font-accent);
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    border: 2px solid var(--accent);
    border-radius: 25px;
  }
  
  .product-modal .add-to-cart {
    height: 30px;
  }
  
  .product-modal .add-to-cart p {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 900;
  }

} 