


.ageverification-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  background-image: linear-gradient(rgba(20, 85, 134, 0.9), rgba(5, 20, 32, 0.9)), url(/Background/login.jpg);
  padding: 20px;
  
 
  background-size: cover;
  background-position: center;
}

.ageverification-wrapper img {
  width: 200px;
  margin-bottom: 20px;
}

.ageverification-wrapper h3 {
  font-family: var(--font-accent);
  color: var(--light);
  font-size: 24px;
  margin-bottom: 20px;
}

.ageverification-wrapper p {
  text-align: center;
  font-size: 15px;
  color: var(--light);
  margin-bottom: 20px;
  max-width: 750px;
  font-family: var( --font-accent);
  font-weight: 1;
}
.ageverification-wrapper span{
    font-family: var( --font-accent);
  font-weight: 1;
}


.d-m-y-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.d-m-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-m-y label {
  font-size: 20px;
  font-weight: 700;
  color: var(--light);
  margin-bottom: 2px;
}

.d-m-y select {
  padding: 10px;
  width: 100%;
  border: 2px solid var(--light);
  border-radius: 8px;
  background-color: var(--light);
  font-family: var(--font-accent);
  font-size: 20px;

  color: var(--dark);
  text-align: center;
}

.av-form p{
  color: var(--light);
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.av-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
button {
    padding: 12px 30px;
    margin: 10px;
    width: 150px; 
    height: 45px; 
    border-radius: 6px;
    font-family: var(--font-accent);
    font-weight: 700;
     font-size: 20px;
    cursor: pointer;
    color: var(--light);
    transition: background-color 0.3s, color 0.3s;
}

button:first-child {
    background-color: transparent;
    color: var(--light);
    border: 1px solid var(--light);
}

button:first-child:hover {
    background-color: var(--light);
    color: var(--dark); 
}

button:last-child {
    background-color: rgb(39, 104, 53);
    color: white;
    border: none; }

button:last-child:hover {
    background-color: rgb(12, 151, 243); 
}

@media (max-width: 579px) {
    .d-m-y-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
    }    
}
