.product-slider{
    margin: 3rem 0;
}

.slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.slider-header h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 900;
}

.slider-controller {
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.slider-controller-button {
    font-size: 1.5rem;
    cursor: pointer;
}

.slick-track {
    margin:auto;
    display: flex !important;
    justify-content: center;
}

.slider-item{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

