.account-options-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  min-width: 200px;
  border-right: 2px solid var(--secondary);
}

.account-options {
  display: flex;
  flex-direction: column;
}

.account-options li {
  list-style: none;
}

.account-options li:hover {
  color: var(--secondary);
  background-color: var(--accent-light);
}

.account-options .account-link {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: var(--dark);
  font-family: var(--font-primary);
  font-weight: 600;
}

.account-options .account-link.active {
  font-weight: bold;
  background-color: var(--accent);
}

.logout-button {
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(201, 29, 29);
  font-family: var(--font-primary);
  font-weight: 800;
}

.logout-button:hover {
  background-color: rgba(255, 60, 60, 0.405);
}

@media only screen and (max-width: 768px) {
  .account-options-container {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
    min-width: auto;
    border-right: none;
    border-bottom: 2px solid var(--secondary);
  }

  .account-options .account-link.active {
    border-radius: 15px 15px 0 0;
  }

  .account-options li:hover {
    border-radius: 15px 15px 0 0;
  }

  .account-options {
    flex-direction: row;
  }

  .logout-button {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .account-options {
    justify-content: space-between;
  }

  .account-options-container {
    margin: 0;
  }
  .account-options .account-link {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 350px) {
  .account-options {
    justify-content: space-between;
  }

  .account-options-container {
    margin: 0;
  }
  .account-options .account-link {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
}
