.product-card {
    width: 240px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(17, 151, 231, 0.2) 0px 3px 8px;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card .product-image-container {
    width: 210px;
    height: 210px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.product-card .product-image {
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.product-card .card-seperator {
    border: 1px solid var(--secondary);
    width: 200px;
    margin: 0px 20px;
}

.product-card .product-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 200px;
}

.product-card .product-name {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--dark);
    margin-top: 5px;
}

.product-card .product-price {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-family: var(--font-accent);
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--dark);
    margin-top: 10px;
}



.product-card .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2.5px solid var(--secondary);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    cursor: pointer;
    transition: color 0.2s, border 0.2s;
}

.product-card .add-to-cart:hover {
    color: var(--dark);
    border: 2.5px solid var(--dark);
}

@media only screen and (max-width: 820px) {
    .product-card {
        width: 240px;
        height: 300px;
    }

    .product-card .product-image-container {
        width: 230px;
        height: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; 
    }
    
    .product-card .product-image {
        width: 95%;
        height: 95%;
        object-fit: contain;
    }
}