.layout1 {
  position: relative; 
  min-height: 100vh; 
  overflow: hidden; 
}

.layout1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(210, 243, 247, 0.4), rgba(226, 249, 252, 0.4)), url('/Background/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: blur(0.5px); 
  z-index: -1; 
}

.content-style1 {
  margin-left: 277px;
  min-height: calc(100vh - 314.91px);
  padding: 20px;
  position: relative; 
  z-index: 1;
}

.content-style2{
  margin-top: 82.5px;
  min-height: calc(100vh - 397.49px);
}

@media (max-width: 867px) {
  .content-style1 {
    margin: 82.5px 15px 0 15px;
    padding: 0;
  }
}
