.category-container {
  margin: 1rem 0 3rem 0;
}

.category-container h2 {
  text-align: center;
  margin-bottom: 0.8rem;
  font-family: var(--font-primary);
  font-size: 2.5rem;
  color: var(--heading-color);
}

.category-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 1rem;
}

.category-menu span {
  color: var(--dark);
  background-color: var(--secondary);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--font-primary);
  transition: background-color 0.1s ease-in;
}

.category-menu span:hover {
  background-color: var(--accent);
}

@media (max-width: 620px) {
  .category-menu {
    gap: 0.5rem 0.5rem;
  }
}

@media (max-width: 570px) {
  .category-menu {
    gap: 0.5rem 0.5rem;
  }

  .category-menu span {
    background-color: var(--secondary);
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-primary);
  }
}


.sub-category-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--dark);
  box-shadow: rgba(17, 151, 231, 0.2) 0px 3px 8px;
  border-radius: 12px;
}

.sub-category-item .image-container {
  width: 225px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}

.sub-category-item img {
  cursor: pointer;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.sub-category-item .category-name {
  text-align: center;
  font-weight: 600;
  background: var(--accent);
  padding: 10px 0;
  border-radius: 0 0 12px 12px;
}

.sub-categories {
  margin: 0 20px 4rem 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}