@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Initial state of the container before animation */
.about-container.hidden {
  opacity: 0;
  transform: translateY(50px);
}

/* Apply animation when the class is added */
.about-container.animate {
  animation: slideUpFadeIn 1s ease-out forwards;
}

.about-container {
  margin: 6.5rem 0 6rem 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/Background/background.webp);
  background-size: cover;
  background-position: center;
}

.about-container h2{
  margin-bottom: 10px;
}

.about-container h3{
  font-weight: 600;
  margin: auto;
}

.about-container h3, .about-container p {
  width: 60%;
}

.about-container .about {
  margin: 50px auto;
  width: 90%;
  padding: 50px 0;
  background: #e6f8ffed;
}

.about-container p {
  color: #666666;
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 50px auto;
}

.about-container .shop-now-button {
  color: var(--dark);
  text-decoration: none;
  background: var(--secondary);
  font-family: var(--font-primary);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 25px;
  box-shadow: rgba(33, 35, 38, 0.25) 0px 10px 10px -10px;
}


.about-container .shop-now-button:hover {
  background: #5db3e9;
}


@media only screen and (max-width: 768px) {
  .about-container h3, .about-container p {
    width: 90%;
  }

  .about-container p {
    color: #666666;
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px auto 50px auto;
  }
}

@media only screen and (max-width: 580px) {
  .about-container .about {
    margin: 25px auto;
    width: 95%;
    padding: 50px 0;
    background: #e6f8ffed;
  }
}