/* Remove animation keyframes and related CSS */
.about-container.hidden {
  opacity: 0;
  transform: translateY(50px);
}

/* Apply normal state styles */
.about-container {
  margin: 6.5rem 0 6rem 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/Background/background.webp);
  background-size: cover;
  background-position: center;
}

.about-container h2 {
  font-family: var(--font-accent);
  color: var(--dark);
  font-size: 3rem;
  margin: 0 15px 1.5rem 15px;
}

.about-container h3 {
  font-family: var(--font-accent);
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

.about-container h3, .about-container p {
  width: 60%;
}

.about-container .about {
  margin: 50px auto;
  width: 90%;
  padding: 50px 0;
  background: #e6f8ffed;
}

.about-container p {
  color: #666666;
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 50px auto;
}

.about-container .shop-now-button {
  color: var(--dark);
  text-decoration: none;
  background: var(--temp-blue);
  font-family: var(--font-primary);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 100px;
  box-shadow: rgba(33, 35, 38, 0.25) 0px 10px 10px -10px;
}

.about-container .shop-now-button:hover {
  background: #19a6fe;
}

@media only screen and (max-width: 768px) {


  .about-container h3, .about-container p {
    width: 90%;
  }

  .about-container p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 580px) {
  .about-container .about {
    margin: 25px auto;
    width: 95%;
    padding: 50px 0;
    background: #e6f8ffed;
  }

  .about-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .about-container h3 {
    font-size: 1rem;
  }

  .about-container p {
    font-size: 0.8rem;
    margin: 20px auto 30px auto;
  }

  .about-container .shop-now-button {
    font-size: 1rem;
    padding: 7.5px 15px;
  }
}
