/* General Wrapper for Change Password Form */
.wrapper-change-password {
    width: 430px;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(236, 252, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  /* Form Group */
  .wrapper-change-password .input-box {
    margin-bottom: 15px;
  }
  
  .wrapper-change-password h2 {
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 0.5rem;
  }
  
  .wrapper-change-password p {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--dark);
    margin-bottom: 2rem;
  }
  
  /* Input Fields */
  .wrapper-change-password input[type="password"] {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1.5px solid var(--dark);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 550;
    color: var(--dark);
  }
  
  .wrapper-change-password input[type="password"]::placeholder {
    color: #00273ead;
  }
  
  /* Submit Button */
  .wrapper-change-password .submit-button {
    width: 100%;
    padding: 12px;
    background-color: rgb(20, 84, 134);
    color: var(--light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    margin-top: 10px;
  }
  
  .wrapper-change-password .submit-button:hover {
    background-color: var(--secondary);
  }
  
  /* Media Queries */
  @media (max-width: 480px) {
    .wrapper-change-password {
      width: 95vw;
    }
  
    .wrapper-change-password h2 {
      font-size: 20px;
    }
  
    .wrapper-change-password p {
      font-size: 0.8rem;
    }
  
    .wrapper-change-password input[type="password"] {
      height: 40px;
      font-size: 0.75rem;
    }
  
    .wrapper-change-password .submit-button {
      padding: 12px;
      font-size: 0.8rem;
      margin-top: 16px;
    }
  }
  