.product-grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.product-grid-container h2 {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: var(--dark);
}

.product-grid-container {
  margin: 3rem 0;
}
