/* CategoryGrid.css */
.categories-grid-container {
  min-height: 482px;
}

.categories-grid-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Adjust column size as needed */
  gap: 10px; /* Adjust gap between items */
  padding: 10px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--dark);
  background-color: var(--accent-light); 
  border: 1px solid var(--secondary); 
  border-radius: 5px; 
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.category-item:hover {
  background-color: var(--accent-light);
}
