.accountPage {
  display: flex;
  margin-top: 110px;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .accountPage {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}
