.notice-modal-container {
    background-color: rgba(0, 0, 0, 0.883);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.notice-modal-container.inactive {
    opacity: 0;
}

.modal-closer {
    position: absolute;
    top: 7px;
    right: 8px;
    color: white;
    background-color: var(--dark);
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0.9;
    cursor: pointer;
}

.notice-modal {
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.notice-modal-container.inactive .notice-modal {
    transform: translateY(100%);
}

.notice-modal img {
    max-height: 90vh; 
    width: auto;    
    max-width: 95vw; 
}
