@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: #87ceeb;
  --heading-color: #0075c2;
  --temp-blue: #08a5e3;
  --dark: #00273e;
  --light: #fdffff;
  --secondary: #47b1f2;
  --mid-light: #e8e8e8;
  --accent-light: #d3f2ff;
  --font-accent: "Lexend", sans-serif;
  --font-primary: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--light);
}

body.scroll-lock {
  overflow: hidden;
  padding-right: 12px;
}

@media (max-width: 668px){
  body.scroll-lock {
    overflow: hidden;
    padding: 0;
  }
}

/* Custom Scroll bar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--temp-blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0686b9;
}



/* for login */
.imagebg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imagebg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gradient Overlay */
.imagebg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(20, 84, 134, 0.7),
    rgba(5, 20, 32, 0.7)
  );

  z-index: 1;
}

.imagebg img {
  position: relative;
  z-index: 0;
}

.quantity-dropdown-container {
  position: relative;
}

@keyframes dropdownSlideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.quantity-dropdown-menu {
  border: 2px solid var(--secondary);
  background-color: var(--light);
  border-radius: 12px;
  width: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px; /* Adjust as needed */
  left: 0;
  animation: dropdownSlideIn 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
}

.quantity-dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.quantity-dropdown-container {
  position: relative;
}

.quantity-dropdown {
  cursor: pointer;
  width: 60px;
  height: 25px;
  font-family: var(--font-accent);
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  border: 2px solid var(--accent);
  border-radius: 25px;
}

.quantity-dropdown-menu {
  border: 2px solid var(--secondary);
  background-color: var(--light);
  border-radius: 12px;
  width: 70px;
  max-height: 330px; /* Set the fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px; /* Adjust as needed */
  left: 0;
  animation: dropdownSlideIn 0.3s ease-out;
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Hide from layout */
  z-index: 10;
}

/* For Webkit browsers (Chrome, Safari, and Edge) */
.quantity-dropdown-menu::-webkit-scrollbar {
  width: 4px; /* Slimmer scrollbar */
}

.quantity-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* Customize the color */
  border-radius: 2px; /* Round the scrollbar thumb */
}

.quantity-dropdown-menu::-webkit-scrollbar-track {
  background: transparent; /* Optional: customize the track */
}

/* For Firefox */
.quantity-dropdown-menu {
  scrollbar-width: thin; /* Make the scrollbar slim */
  scrollbar-color: var(--secondary) transparent; /* Customize scrollbar color */
}

.quantity-dropdown-menu span {
  width: 100%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 0.9rem;
}

.quantity-dropdown-menu span:first-child {
  border-radius: 12px 12px 0 0;
}

.quantity-dropdown-menu span:last-child {
  border-radius: 0 0 12px 12px;
}

.quantity-dropdown-menu span:hover {
  background-color: var(--accent-light);
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .quantity-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    font-size: 0.8rem;
  }
}

/* Critical CSS */

/* Layout Setting */
.content {
  min-height: calc(100vh - 315px);
}

/* Loader */

.loader-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

.loader-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: box1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 var(--accent);
  margin-bottom: 10px;
}
.loader:after {
  animation: box2 1s infinite;
  background-color: var(--accent);
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes box1 {
  0% {
    box-shadow: 30px 0 0 var(--accent);
  }
  50% {
    box-shadow: 0 0 0 var(--accent);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--accent);
    margin-bottom: 10px;
  }
}

@keyframes box2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/* Navigation */
.nav-section {
  width: 238px;
  margin: 20px 0;
}

.nav-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  transition: background-color 0.2s ease-in-out;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.nav-link span {
  color: var(--accent);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #093e5a;
}

.divider {
  width: 100%;
  border-color: var(--accent);
  margin: 20px 0;
}

/* Navbar */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: -100px; /* Initially hidden */
  background: var(--accent-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 35px 5px 25px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 9;
  transition: top 0.5s ease-in-out;
}

.navbar.visible {
  top: 0;
}

/* Other existing styles */

.navbar img {
  width: 120px;
}

.navbar > a {
  display: flex;
  align-items: center;
}

.nav-item-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar .items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar .items li {
  cursor: pointer;
  list-style: none;
}

.navbar .items li a, .navbar .items li p {
  position: relative; /* Required for ::after positioning */
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--dark);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar .items li a::after, .navbar .items li p::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--dark);
  transition: width 0.3s ease-in-out;
}

.navbar .items li a:hover::after, .navbar .items li p:hover::after {
  width: 100%;
}

.navbar .items li a:hover {
  color: var(--accent-dark);
}

.navbar .items li a span {
  font-size: 1rem;
}

.navbar .nav-dropdown-content {
  width: 130px;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  background-color: var(--accent-light);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  z-index: 3;
}

/* Show dropdown on hover */
.navbar .shop-menu:hover .nav-dropdown-content {
  opacity: 1;
  max-height: 234px;
}


.navbar a.nav-drop-down-item {
  padding: 10px 10px;
  color: var(--dark);
  background-color: var(--accent-light);
  font-size: 16px !important;
  font-family: var(--font-accent);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s ease;
  text-align: center;
  height: 100%; 
}

.navbar .nav-drop-down-item:hover {
  background-color: var(--accent); 
}

.navbar .shop-menu {
  position: relative; 
}

.navbar .menu {
  cursor: pointer;
  font-size: 1.25rem;
  display: none;
}

.navbar .cart-options{
  display: flex;
  gap: 1.25rem;
}

.navbar .heart {
  font-size: 1.25rem;
  color: var(--dark);
}

.navbar .cart {
  font-size: 1.25rem;
  color: var(--dark);
  position: relative;
}


.navbar .cart .cart-count{
  position: absolute;
  top: -5px;
  left: 60%;
  color: var(--dark);
  background-color: var(--secondary);
  padding: 2px 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1rem;
  min-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

@media (max-width: 900px) {
  .navbar .items {
    display: none;
  }

  .navbar .heart {
    display: none;
  }

  .navbar .menu {
    display: block;
  }
}

/* Header */

.header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  gap: 2rem;
}

.header .header-right {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .logo {
  width: 175px;
}

.header .items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .items li {
  list-style: none;
}

.header .items li a, .header .items li p{
  cursor: pointer;
  position: relative;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--dark);
  text-decoration: none;
  transition: color 0.3s ease-in-out; 
}

.header .items li p {
  background-color: var(--secondary);
  padding: 5px 15px;
  border-radius: 8px;
}

.header .items li p:hover{
  background-color: var(--temp-blue);
}

.header .items > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 0;
  height: 2px;
  background-color: var(--dark);
  transition: width 0.3s ease-in-out;
}

.header .items > li > a:hover::after {
  width: 100%; 
}

.header .items > li > a:hover {
  color: var(--accent-dark);
}

.header .nav-dropdown-content {
  width: 130px;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  background-color: var(--accent-light);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  z-index: 3;
}

/* Show dropdown on hover */
.header .shop-menu:hover .nav-dropdown-content {
  opacity: 1;
  max-height: 234px;
}


.header a.nav-drop-down-item {
  padding: 10px 15px;
  color: var(--dark);
  background-color: var(--accent-light);
  font-size: 16px !important;
  font-family: var(--font-accent);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s ease;
  text-align: center;
  height: 100%; 
}

.header .nav-drop-down-item:hover {
  background-color: var(--accent); 
}

.header .shop-menu {
  position: relative; 
}

.header .items li a span {
  font-size: 1rem;
}

.header .shoping-cart {
  font-size: 28px;
  color: var(--dark);
}

.header .menu {
  cursor: pointer;
  font-size: 1.25rem;
  display: none;
}

.header .cart-options{
  display: flex;
  gap: 0.8rem;
}

.header .cart{
  position: relative;
}

.header .cart .cart-count{
  position: absolute;
  top: -10px;
  left: 60%;
  color: var(--dark);
  background-color: var(--secondary);
  padding: 2px 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1.25rem;
  min-width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

@media (max-width: 1024px){
  .header .shoping-cart {
    font-size: 24px;
  }
}


@media (max-width: 858px) {
  .header {
    padding: 15px;
  }
  .header .logo {
    width: 150px;
  }

  .header .items {
    display: none;
  }
  .header .menu {
    display: block;
  }

  .header .header-right {
    gap: 0px;
  }

  .header .cart-options{
    display: none;
  }
}

@media (max-width: 580px) {
  .header {
    padding: 15px 10px;
  }
}

/* Searchbar */

/* Search Bar Component */
.searchbar-container {
  position: relative;
  width: 100%;
}

.search-bar {
  border-radius: 25px;
  border: 2px solid var(--dark);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  background-color: rgba(227, 250, 255, 0.2);
}

.search-suggestions {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.search-suggestions.show {
  opacity: 1;
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
}

.search-suggestions span {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-suggestions span:first-child {
  border-radius: 12px 12px 0 0;
}

.search-suggestions span:last-child {
  border-radius: 0 0 12px 12px;
}

.search-suggestions span:hover {
  background-color: var(--accent-light);
}

.search-suggestions .image-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
}

.search-suggestions .product-image {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.search-bar .category-dropbtn {
  background-color: var(--dark);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-family: var(--font-accent);
  font-weight: 400;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar .drop-down-icon {
  font-size: 12px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.search-bar .drop-down-icon.rotated {
  transform: rotate(90deg);
}

.search-bar .category-dropdown {
  position: relative;
  display: inline-block;
}

.search-bar .category-dropdown-content {
  margin-top: 2px;
  position: absolute;
  background-color: var(--dark);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  z-index: 3;
}

.search-bar .category-dropdown-content.show {
  opacity: 1;
  max-height: 234px;
  overflow-y: auto;
}

.search-bar .category-drop-down-item {
  text-align: center;
  color: var(--dark);
  background-color: var(--accent-light);
  padding: 10px 12px;
  margin: 0;
  font-size: 14px;
  font-family: var(--font-accent);
  font-weight: 600;
  cursor: pointer;
}

.search-bar .category-drop-down-item:hover {
  background-color: var(--accent);
}

.search-bar .search-input {
  flex: 1;
  min-width: 20px;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(227, 250, 255, 0.2);
  font-family: var(--font-primary);
  color: var(--dark);
}

.search-bar .search-input::placeholder {
  color: var(--dark);
}

.search-bar .search-icon {
  margin: 0px 8px 0px auto;
  color: var(--dark);
  font-size: 20px;
  cursor: pointer;
}

.search-bar .category-dropdown-content::-webkit-scrollbar {
  width: 8px;
}

.search-bar .category-dropdown-content::-webkit-scrollbar-thumb {
  background: var(--accent-light);
  border-radius: 4px;
}

.search-bar .category-dropdown-content::-webkit-scrollbar-track {
  border-radius: 8px;
  background: var(--dark);
}

/* Banner */

.banner {
  width: 100%;
}

.banner-image {
  width: 100%;
}

.banner .slick-dots {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 668px) {
  .banner {
    width: 100%;
  }
}

/* Footer 1 */

.footer1 {
  display: flex;
  padding: 3rem 1rem 0.75rem 1rem;
  flex-direction: column;
  align-items: center;
  background: var(--dark);
  font-weight: 550;
  color: var(--light);
}

.footer1-heading {
  font-family: var(--font-accent);
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer1-sections {
  display: flex;
  width: 95vw;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.footer1-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1-logo img {
  width: 225px;
}

.footer1-link {
  font-family: var(--font-primary);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--light);
  text-decoration: none;
}

.footer1-link:hover {
  color: var(--accent);
  cursor: pointer;
}

.footer1-socials-section {
  display: flex;
  flex-direction: column;
}

.footer1-socials {
  font-size: 1.5rem;
  width: 160px;
  display: flex;
  justify-content: space-evenly;
}

.footer1-social {
  font-size: 0.8rem;
  color: var(--dark);
  background: var(--light);
  border-radius: 50%;
  padding: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.footer1-social:hover {
  cursor: pointer;
  background: var(--accent);
}

.footer1-quick-links span {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.footer1-get-in-touch {
  display: flex;
  flex-direction: column;
}

.footer1-get-in-touch span {
  font-size: 0.8rem;
  font-family: var(--font-primary);
  font-weight: 400;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer1-get-in-touch span p {
  font-family: var(--font-primary);
  font-weight: 400;
}

.footer1-get-in-touch span:hover {
  cursor: pointer;
  color: var(--accent);
}

.footer1-get-in-touch span .footer1-icon {
  font-size: 1.25rem;
  padding-right: 0.75rem;
}

.footer1-attributes {
  font-family: var(--font-cta);
  font-weight: 400;
  margin-top: 20px;
  border-top: 2px solid var(--accent);
  padding-top: 10px;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer1-attributes span {
  display: flex;
  align-items: center;
}

.footer1-bytesync {
  margin-left: 7px;
  width: 120px;
}

@media only screen and (max-width: 980px) {
  .footer1-logo img {
    width: 200px;
  }

  .footer1-heading {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 880px) {
  .footer1-heading {
    font-size: 1.75rem;
  }

  .footer1-sections {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer1-socials-section,
  .footer1-quick-links,
  .footer1-get-in-touch {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer1-socials {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 160px;
  }

  .footer1-quick-links span {
    align-items: center;
  }

  .footer1-get-in-touch div {
    display: flex;
    flex-direction: column;
  }

  .footer1-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer1-name {
    margin-bottom: 1rem;
  }
}

/* Footer 2 */

.footer2 {
  margin-left: 277px;
  width: calc(100vw - 277px);
  display: flex;
  padding: 3rem 1rem 0.75rem 1rem;
  flex-direction: column;
  align-items: center;
  background: var(--dark);
  font-weight: 550;
  color: var(--light);
  border-top: 2px solid var(--light);
}

.footer2-link {
  font-family: var(--font-primary);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--light);
  text-decoration: none;
}

.footer2-link:hover {
  color: var(--accent);
}

.footer2-heading {
  font-family: var(--font-accent);
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer2-sections {
  display: flex;
  width: calc(95vw - 277px);
  margin-bottom: 1rem;
  justify-content: space-around;
}

.footer2-quick-links span {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.footer2-get-in-touch {
  display: flex;
  flex-direction: column;
}

.footer2-get-in-touch span {
  font-size: 0.8rem;
  font-family: var(--font-primary);
  font-weight: 400;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer2-get-in-touch span p {
  font-family: var(--font-primary);
  font-weight: 400;
}

.footer2-get-in-touch span:hover {
  cursor: pointer;
  color: var(--accent);
}

.footer2-get-in-touch span .footer2-icon {
  font-size: 1.25rem;
  padding-right: 0.75rem;
}

.footer2-socials-section {
  display: flex;
  flex-direction: column;
}

.footer2-socials {
  font-size: 1.5rem;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.footer2-social {
  font-size: 0.8rem;
  color: var(--dark);
  background: var(--light);
  border-radius: 50%;
  padding: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.footer2-social:hover {
  cursor: pointer;
  background: var(--accent);
}

.footer2-attributes {
  color: var(--mid-light);
  font-family: var(--font-primary);
  font-weight: 400;
  margin-top: 20px;
  border-top: 2px solid var(--accent);
  padding-top: 10px;
  width: calc(95vw - 277px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer2-attributes span {
  display: flex;
  align-items: center;
}

.footer2-bytesync {
  margin-left: 7px;
  width: 120px;
}

@media only screen and (max-width: 980px) {
  .footer2-logo img {
    width: 200px;
  }

  .footer2-heading {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 880px) {
  .footer2-heading {
    font-size: 1.75rem;
  }

  .footer2-sections {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer2-socials-section,
  .footer2-quick-links,
  .footer2-get-in-touch {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer2-socials {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 160px;
  }

  .footer2-quick-links span {
    align-items: center;
  }

  .footer2-get-in-touch div {
    display: flex;
    flex-direction: column;
  }

  .footer2-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer2-name {
    margin-bottom: 1rem;
  }
}

/* Empty Category */

.empty-category {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-category h2 {
  font-size: 2.5rem;
  color: var(--heading-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.empty-category p {
  font-size: 1.2rem;
  color: #141414;
  margin-bottom: 3rem;
  text-align: center;
}

.empty-category a{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    background-color: var(--secondary);
}

.empty-category a:hover{
    background-color: var(--temp-blue);
}