
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --accent: #87CEEB;
  --dark: #00273E;
  --light: #F1FBFF;
  --secondary: #47B1F2;
  --mid-light: #E8E8E8;
  --accent-light: #D3F2FF;
  --font-accent: "Montserrat", sans-serif;
  --font-primary: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: var(--light);
}
                                       /* for login */
.imagebg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imagebg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gradient Overlay */
.imagebg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right,rgba(20, 84, 134, 0.7),rgba(5, 20, 32, 0.7));
  
  z-index: 1;
}

.imagebg img {
  position: relative;
  z-index: 0;
}



